/* styles.css */

body {
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  flex-direction: row;
  flex: auto;
}

article {
  flex: 2;
  overflow-y: auto;
}

aside {
  flex: 1;
  overflow-y: auto;
}

/* Media Query for smaller screens (e.g., smartphones) */
@media (max-width: 768px) {
  body {
    flex-direction: column; /* Change to column layout for smaller screens */
  }

  main {
    flex-direction: column; /* Change to column layout for smaller screens */
  }

  article,
  aside {
    flex: auto; /* Allow both to grow and shrink equally */
  }
}
